# Tsakonian dictionary compiler

# Preparation

## Imports

In [20]:
# Data wrangling
import pandas as pd

# Main

In [21]:
# Read main table
main = pd.read_excel('tables/main.xlsx')
main

    tsakonian      greek type  source
0           α          η  NaN       1
1         άγο      αλογο    Υ       1
2     άγουστε  αύγουστος  NaN       1
3        αθιά     αδελφή   Θ1       1
4        αϊθη    αδελφός   Α0       1
..        ...        ...  ...     ...
227   φορτακά   βάτραχος   Α5       1
228      ούθι       φίδι   Α0       1
229   κ̇ομπίο     αράχνη   Α4       1
230     μούζα       μύγα   Θ1       1
231   μελισσά    μέλισσα   Θ3       1

[232 rows x 4 columns]

In [22]:
# Join `types` table
types = pd.read_excel('tables/types.xlsx')
types.head()

  type             notes
0   Α0  ο, pl. irregular
1   A1        ο, pl. -οι
2   A2         ο, pl. -ε
3   A3        ο, pl. -ου
4   A4      ο, pl. -ουνε

In [23]:
# Join main and types by type
main_dict = (pd.merge(main, types, on='type', how='left')
             .sort_values(by='tsakonian')
             .reset_index(drop=True))

print('Displaying all columns:')
display(main_dict.head())
print()

# Fill NaN values with empty string
main_dict = main_dict.fillna('')

# Reorder columns for easier usage
order = ['tsakonian', 'greek', 'notes'] # NOTE: excluding additional info columns
main_dict = main_dict[order]
print('Displaying reordered columns:')
main_dict.head()

Displaying all columns:

  tsakonian      greek type  source              notes
0       άγο      άλογο   Α0       1   ο, pl. irregular
1       άγο      αλογο    Υ       1                NaN
2   άγουστε  αύγουστος  NaN       1                NaN
3    άθρωπο   άνθροπος   Α1       1                NaN
4        άι       λάδι   Υ0       1  το, pl. irregular

Displaying reordered columns:

  tsakonian      greek              notes
0       άγο      άλογο   ο, pl. irregular
1       άγο      αλογο
2   άγουστε  αύγουστος
3    άθρωπο   άνθροπος
4        άι       λάδι  το, pl. irregular

# Save the dictionary to a Markdown file

In [24]:
# Save the dictionary to a Markdown file
dictionary_name = 'Tsakonian - Greek Dictionary.md'
dictionary_path = 'exports/' + dictionary_name
# main_dict.to_markdown(dictionary_path, index=False)

# Add font styling
styled_dict = f"""<span style="font-family: calibri; font-size: 20px;">

{main_dict.to_markdown(index=False)}
</span>"""

# Save the dictionary to a Markdown file
with open(dictionary_path, 'w', encoding='utf-8') as f:
    f.write(styled_dict)