# Tsakonian dictionary compiler

# Preparation

## Imports

In [1]:
# Data wrangling
import pandas as pd

# Main

In [21]:
# Read main table
main = pd.read_excel('tables/main.xlsx')
main

    tsakonian      greek type  source
0           α          η  NaN       1
1         άγο      αλογο    Υ       1
2     άγουστε  αύγουστος  NaN       1
3        αθιά     αδελφή   Θ1       1
4        αϊθη    αδελφός   Α0       1
..        ...        ...  ...     ...
227   φορτακά   βάτραχος   Α5       1
228      ούθι       φίδι   Α0       1
229   κ̇ομπίο     αράχνη   Α4       1
230     μούζα       μύγα   Θ1       1
231   μελισσά    μέλισσα   Θ3       1

[232 rows x 4 columns]

In [22]:
# Join `types` table
types = pd.read_excel('tables/types.xlsx')
types.head()

  type             notes
0   Α0  ο, pl. irregular
1   A1        ο, pl. -οι
2   A2         ο, pl. -ε
3   A3        ο, pl. -ου
4   A4      ο, pl. -ουνε

In [23]:
# Join main and types by type
main_dict = (pd.merge(main, types, on='type', how='left')
             .sort_values(by='tsakonian')
             .reset_index(drop=True))

print('Displaying all columns:')
display(main_dict.head())
print()

# Fill NaN values with empty string
main_dict = main_dict.fillna('')

# Reorder columns for easier usage
order = ['tsakonian', 'greek', 'notes'] # NOTE: excluding additional info columns
main_dict = main_dict[order]
print('Displaying reordered columns:')
main_dict.head()

Displaying all columns:

  tsakonian      greek type  source              notes
0       άγο      άλογο   Α0       1   ο, pl. irregular
1       άγο      αλογο    Υ       1                NaN
2   άγουστε  αύγουστος  NaN       1                NaN
3    άθρωπο   άνθροπος   Α1       1                NaN
4        άι       λάδι   Υ0       1  το, pl. irregular

Displaying reordered columns:

  tsakonian      greek              notes
0       άγο      άλογο   ο, pl. irregular
1       άγο      αλογο
2   άγουστε  αύγουστος
3    άθρωπο   άνθροπος
4        άι       λάδι  το, pl. irregular

# Save the dictionary to a Markdown file

In [24]:
# Save the dictionary to a Markdown file
dictionary_name = 'Tsakonian - Greek Dictionary.md'
dictionary_path = 'exports/' + dictionary_name
# main_dict.to_markdown(dictionary_path, index=False)

# Add font styling
styled_dict = f"""<span style="font-family: calibri; font-size: 20px;">

{main_dict.to_markdown(index=False)}
</span>"""

# Save the dictionary to a Markdown file
with open(dictionary_path, 'w', encoding='utf-8') as f:
    f.write(styled_dict)

# Test area

In [7]:
# Read the CSV string
df = pd.read_excel('tables/verbs.xlsx').fillna('')
df.head()

,tsakonian,greek,ypo_enestotas,ypotaktiki,aoristos,metochi
0,αβαίνου,λαβαίνω,,,αβήκα,
1,ακισταινούμενε,κουράζομαι,,,ακιστάμα,
2,ακιστατέ,κουρασμένος,,,,
3,ακίχου,αλατίζω,,,ακία,
4,αλικογκίζου,"εμποδίζω, καθυστερώ",,,αλικογκία,

In [9]:
# -αίνου, =, -άου, (ε)-άκα
ending = 'αίνου'
df[df['tsakonian'].str.endswith(ending)]

     tsakonian        greek ypo_enestotas ypotaktiki aoristos metochi
0      αβαίνου      λαβαίνω                             αβήκα
40  καταβαίνου  καταλαβαίνω
54     μπαίνου       μπαίνω       μπαίνου      μπάου   εμπάκα   μπατέ
68    ξεχαίνου       ξεχνάω                           εξεχάκα
85     τ̇αίνου    σηκώνομαι       τ̇αίνου      τ̇άου   ετ̇ακα   τ̇ατέ

In [14]:
# -ούκ̇ου, ?, -ού, (ε)-ούκα
ending = 'ούκ̇ου'
df[df['tsakonian'].str.endswith(ending)]

,tsakonian,greek,ypo_enestotas,ypotaktiki,aoristos,metochi
5,ανεμούκ̇ου,πετάω,,,ανεμούκα,
9,αποσούκ̇ου,"πηγαίνω, μεταφέρω",,αποσού,αποσούκα,αποσουτέ
10,απρούκ̇ου,απλώνω,,απρού,απρούκα,απρουτέ
21,γκιούκ̇ου,ντύνω,,γκιου,εγκιούκα,γκιουτέ
52,μακούκ̇ου,μαλακώνω,,,εμακούκα,
69,οργούκ̇ου,οργώνω,,οργού,οργούκα,οργουτέ
81,σκαρμούκ̇ου,"ξαφνιάζω, τρομάζω",,,εσκαρμούκα,
99,χαμεούκ̇ου,χαμηλώνω,,,εχαμεούκα,

In [18]:
# -ίχου, =?, ?, (ε)-ία
ending = ('ίχου', 'ΐχου')
df[df['tsakonian'].str.endswith(ending)]

     tsakonian            greek ypo_enestotas ypotaktiki  aoristos  metochi
3       ακίχου          αλατίζω                               ακία
35     θυνίχου           θυμίζω                 θυνίτσου    εθυνία  θυνιτ̇έ
49   κ̇ολλίχου            κολλώ                           εκ̇ολλία
64  ντιζικίχου  πειράζω, ενοχλώ
67     ξερίχου     ρίχνω, πετάω                             εξερία
86     τ̇αΐχου           σηκώνω       τ̇αΐχου    τ̇αΐσου    ετ̇αΐα  τ̇αΐστέ
93    φοζαΐχου           φοβίζω                            εφοζαΐα

In [20]:
# -ί/άνου, -ί/άνου, -ι/αού, (ε)-α/ίκα
ending = 'νου'
df[df['tsakonian'].str.endswith(ending)]

,tsakonian,greek,ypo_enestotas,ypotaktiki,aoristos,metochi
0,αβαίνου,λαβαίνω,,,αβήκα,
15,βάνου,βάζω,,,,
26,δεχάνου,δείχνω,,,εδενά,
40,καταβαίνου,καταλαβαίνω,,,,
41,κατσίνου,δαγκώνω,,,εκατσίκα,
42,κατσ̌ούνου,σπάζω,,κατσ̌ού,εκατσ̌ούκα,κατσ̌ουτέ
44,κιάνου,πιάνω,,κιάσου,εκιάκα,κιατ̇έ
46,κίνου,πίνω,κίνου,κίου,εγκίκα,γκιτέ
48,κλείνου,κλείνω,,κλείου,εκλείκα,κλιστέ
54,μπαίνου,μπαίνω,μπαίνου,μπάου,εμπάκα,μπατέ
55,μπαΐνου,ανεβαίνω; Βγαίνω,μπαΐνου,μπαΐου,εμπαήκα,μπαητέ
56,μπάνου,βγάζω,μπάνου,μπάλου,επμαλ̣ήκα,μπαλ̣ητέ
68,ξεχαίνου,ξεχνάω,,,εξεχάκα,
78,ποτσούνου,φορτώνω,,,εποτσούκα,
83,σούνου,φτάνω; Σώζω,,σούσου,εσούκα,σουστέ
85,τ̇αίνου,σηκώνομαι,τ̇αίνου,τ̇άου,ετ̇ακα,τ̇ατέ
87,τσαφήνου,"αφήνω, ελευθερώνω",,,ετσαφήκα,
100,χάνου,χάνω,χάνου,χάου,εχάκα,χατέ

In [22]:
# -ζου, ?, -σου, (ε)-΄α
ending = 'ζου'
df[df['tsakonian'].str.endswith(ending)]

,tsakonian,greek,ypo_enestotas,ypotaktiki,aoristos,metochi
4,αλικογκίζου,"εμποδίζω, καθυστερώ",,,αλικογκία,
51,κ̇ρύζου,πλύνω,,κ̇ρύσου,εκ̇ρύα,
66,ξεκάζου,κοιτάζω,,,,
103,ψαχνίζου,στεγνώνω,,,εψαχνία,