# Remove duplicates from Tsakonian dictionary

# Preparation

## Imports

In [1]:
import pandas as pd

## Raw data

In [9]:
# Read the dictionary
dict_path = r'../tables/main.xlsx'
df = pd.read_excel(dict_path)
df.head()

   tsakonian                       greek type source
0          α                           η  NaN      1
1    αβαίνου                     λαβαίνω    Ρ      1
2  αβζ̌ύντου  υποφέρω από δίψα, ουρλιάζω    Ρ      1
3   αβούκ̇ου                      λαβώνω    Ρ      1
4   αβουτάνα                        αυτί   Θ1      1

In [10]:
# Show duplicated entries
df[df.duplicated(keep=False)]

      tsakonian              greek type source
40          αού                λέω    Ρ      1
41          αού                λέω    Ρ      1
50   αποσούκ̇ου  πηγαίνω, μεταφέρω    Ρ      1
51   αποσούκ̇ου  πηγαίνω, μεταφέρω    Ρ      1
59    απρούκ̇ου             απλώνω    Ρ      1
..          ...                ...  ...    ...
390       χάνου               χάνω    Ρ      1
391        χαού              χαλάω    Ρ      1
392        χαού              χαλάω    Ρ      1
397       ψαφού              ψάχνω    Ρ      1
398       ψαφού              ψάχνω    Ρ      1

[102 rows x 4 columns]

In [11]:
# Remove duplicated entries
print(f'Number of entries before: {len(df)}')
clean_df = df.drop_duplicates()
print(f'Number of entries after: {len(clean_df)}')
clean_df.head()

Number of entries before: 401
Number of entries after: 350

   tsakonian                       greek type source
0          α                           η  NaN      1
1    αβαίνου                     λαβαίνω    Ρ      1
2  αβζ̌ύντου  υποφέρω από δίψα, ουρλιάζω    Ρ      1
3   αβούκ̇ου                      λαβώνω    Ρ      1
4   αβουτάνα                        αυτί   Θ1      1

In [12]:
# Save back to Excel
clean_df.to_excel(dict_path, index=False)