# Tsakonian dictionary compiler

# Preparation

## Imports

In [1]:
# Data wrangling
import pandas as pd

# Main

In [1]:
# Read main table
main = pd.read_excel('../tables/main.xlsx')
main

NameError: name 'pd' is not defined

In [18]:
# Join `types` table
paradigms = pd.read_excel('tables/paradigms.xlsx')
paradigms.head()

  paradigm             notes
0       Α0  ο, pl. irregular
1       Α1        ο, pl. -οι
2       Α2         ο, pl. -ε
3       Α3        ο, pl. -ου
4       Α4      ο, pl. -ουνε

In [19]:
# Join main and types by type
main_dict = (pd.merge(main, paradigms, on='paradigm', how='left')
             .sort_values(by='tsakonian')
             .reset_index(drop=True))

print('Displaying all columns:')
display(main_dict.head())
print()

# Fill NaN values with empty string
main_dict = main_dict.fillna('')

# Reorder columns for easier usage
order = ['tsakonian', 'greek', 'notes'] # NOTE: excluding additional info columns
main_dict = main_dict[order]
print('Displaying reordered columns:')
main_dict.head()

Displaying all columns:

  tsakonian      greek paradigm  source_id             notes
0     µπίκο     κασµάς       Α1          1        ο, pl. -οι
1       άγο      άλογο       Α0          1  ο, pl. irregular
2       άγο      άλογο       Υ3          1       το, pl. -ια
3   άγουστε  αύγουστος      NaN          1               NaN
4    άθρωπο   άνθροπος       Α1          1        ο, pl. -οι

Displaying reordered columns:

  tsakonian      greek             notes
0     µπίκο     κασµάς        ο, pl. -οι
1       άγο      άλογο  ο, pl. irregular
2       άγο      άλογο       το, pl. -ια
3   άγουστε  αύγουστος
4    άθρωπο   άνθροπος        ο, pl. -οι

# Save the dictionary to a Markdown file

In [22]:
# Save the dictionary to a Markdown file
dictionary_name = 'Tsakonian - Greek Dictionary.md'
dictionary_path = '../exports/' + dictionary_name
# main_dict.to_markdown(dictionary_path, index=False)

# Add font styling
styled_dict = f"""<span style="font-family: calibri; font-size: 20px;">

{main_dict.to_markdown(index=False)}
</span>"""

# Save the dictionary to a Markdown file
with open(dictionary_path, 'w', encoding='utf-8') as f:
    f.write(styled_dict)

# Test area

In [49]:
# Read the CSV string
df = pd.read_excel('../tables/verbs.xlsx').fillna('')
df.head()

,tsakonian,Columna1,greek,ypot_enest,ypot_aor,orist_aor,metochi,type,source
0,αβαίνου,,λαβαίνω,,,αβήκα,,,1
1,αβζ̌ύντου,,"υποφέρω από δίψα, ουρλιάζω",,,αβζύα,,,1
2,αβούκ̇ου,,λαβώνω,,,αβούκα,,,1
3,αγανίου,,παθαίνω οξείδωση,,,αγανία,,,1
4,αγκατού,,φράσσω,,,αγατήκα,,,1

In [50]:
# -ούκ̇ου, ?, -ού, (ε)-ούκα
ending = 'ούκ̇ου'
paradigm = 'Α2'
add = True
display(df[df['tsakonian'].str.endswith(ending)])

if add:
    df.loc[df['tsakonian'].str.endswith(ending), 'paradigm'] = paradigm

,tsakonian,Columna1,greek,ypot_enest,ypot_aor,orist_aor,metochi,type,source
2,αβούκ̇ου,,λαβώνω,,,αβούκα,,,1
13,ανεμούκ̇ου,,πετάω,,,ανεμούκα,,,1
19,αποσούκ̇ου,,"πηγαίνω, μεταφέρω",,αποσού,αποσούκα,αποσουτέ,,1
20,απρούκ̇ου,,απλώνω,,απρού,απρούκα,απρουτέ,,1
34,γκιούκ̇ου,,ντύνω,,γκιου,εγκιούκα,γκιουτέ,,1
74,κ̇οντούκ̇ου,,κρατάω,,κ̇οντού,εκ̇οντούκα,κ̇οντουτέ,,1
77,μακούκ̇ου,,μαλακώνω,,,εμακούκα,,,1
100,ξηούκ̇ου,,ξηλώνω,,,εξηούκα,,,1
101,οργούκ̇ου,,οργώνω,,οργού,οργούκα,οργουτέ,,1
120,σκαρμούκ̇ου,,"ξαφνιάζω, τρομάζω",,,εσκαρμούκα,,,1
144,χαμεούκ̇ου,,χαμηλώνω,,,εχαμεούκα,,,1

In [71]:
# -ίχου, =?, ?, (ε)-ία
ending = ('ίχου', 'ΐχου', 'ντου')
paradigm = 'Α3'
add = True
display(df[df['tsakonian'].str.endswith(ending)])

if add:
    df.loc[df['tsakonian'].str.endswith(ending), 'paradigm'] = paradigm

,tsakonian,Columna1,greek,ypot_enest,ypot_aor,orist_aor,metochi,type,source,paradigm
1,αβζ̌ύντου,,"υποφέρω από δίψα, ουρλιάζω",,,αβζύα,,,1,Α3
9,ακίχου,,αλατίζω,,,ακία,,,1,Α3
10,ακ̇ουγγίχου,,ακουμπώ,,,ακ̇ουγγία,,,1,Α3
14,ανοίντου,,ανοίγω,,,ανοία,,,1,Α3
46,δρανίντου,,τρέχω γρήγορα,,,εδρανία,,,1,Α3
54,θυνίχου,,θυμίζω,,θυνίτσου,εθυνία,θυνιτ̇έ,,1,Α3
73,κ̇ολλίχου,,κολλώ,,,εκ̇ολλία,,,1,Α3
94,ντιζικίχου,,"πειράζω, ενοχλώ",,,,,,1,Α3
98,ξερίχου,,"ρίχνω, πετάω",,,εξερία,,,1,Α3
127,τ̇αΐχου,,σηκώνω,τ̇αΐχου,τ̇αΐσου,ετ̇αΐα,τ̇αΐστέ,,1,Α3
128,τραβίντου,,τραβάω,τραβίντου,τραβίτσου,ετραβία,,,1,Α3
132,τσιταίντου,,πέφτω,,,ετσιτά,,,1,Α3
136,φοζαΐχου,,φοβίζω,,,εφοζαΐα,,,1,Α3

In [52]:
# -ί/άνου, -ί/άνου, -ι/αού, (ε)-α/ίκα
ending = 'νου'
negative_ending = 'ούνου'

paradigm = 'Α1'
add = True
mask = (df['tsakonian'].str.endswith(ending) & ~df['tsakonian'].str.endswith(negative_ending))
display(df[mask])

if add:
    df.loc[mask, 'paradigm'] = paradigm

,tsakonian,Columna1,greek,ypot_enest,ypot_aor,orist_aor,metochi,type,source,paradigm
0,αβαίνου,,λαβαίνω,,,αβήκα,,,1,NaN
5,αγκραίνου,,μπλέκομαι,,,αγκράκα,,,1,NaN
26,βάνου,,βάζω,,,,,,1,NaN
41,δεΐνου,,δένω,,,εδεήκα,,,1,NaN
43,δεχάνου,,δείχνω,,,εδενά,,,1,NaN
61,καταβαίνου,,καταλαβαίνω,,,,,,1,NaN
63,κατσίνου,,δαγκώνω,,,εκατσίκα,,,1,NaN
66,κιάνου,,πιάνω,,κιάσου,εκιάκα,κιατ̇έ,,1,NaN
70,κίνου,,πίνω,κίνου,κίου,εγκίκα,γκιτέ,,1,NaN
72,κλείνου,,κλείνω,,κλείου,εκλείκα,κλιστέ,,1,NaN
79,μιτσαίνου,,μικραίνω,,,εμιτσ̌άγκα,,,1,NaN
81,μπαίνου,,μπαίνω,μπαίνου,μπάου,εμπάκα,μπατέ,,1,NaN
82,μπαΐνου,,ανεβαίνω; Βγαίνω,μπαΐνου,μπαΐου,εμπαήκα,μπαητέ,,1,NaN
83,μπάνου,,βγάζω,μπάνου,μπάλου,επμαλ̣ήκα,μπαλ̣ητέ,,1,NaN
99,ξεχαίνου,,ξεχνάω,,,εξεχάκα,,,1,NaN
126,τ̇αίνου,,σηκώνομαι,τ̇αίνου,τ̇άου,ετ̇ακα,τ̇ατέ,,1,NaN
130,τσαφήνου,,"αφήνω, ελευθερώνω",,τσαφήου,ετσαφήκα,,,1,NaN
139,φταίνου,,ψήνω,,φτάου,εφτάκα,φτατέ,,1,NaN
145,χάνου,,χάνω,χάνου,χάου,εχάκα,χατέ,,1,NaN
147,ψαίνου,,"σφουγγίζω, σκουπίζω",,,εψάκα,,,1,NaN

In [53]:
ending = 'ούνου'
paradigm = 'Α6'
add = True
display(df[df['tsakonian'].str.endswith(ending)])

if add:
    df.loc[df['tsakonian'].str.endswith(ending), 'paradigm'] = paradigm

,tsakonian,Columna1,greek,ypot_enest,ypot_aor,orist_aor,metochi,type,source,paradigm
64,κατσ̌ούνου,,σπάζω,,κατσ̌ού,εκατσ̌ούκα,κατσ̌ουτέ,,1,NaN
112,ποτσούνου,,φορτώνω,,,εποτσούκα,,,1,NaN
122,σούνου,,"φτάνω, σώζω",,σούσου,εσούκα,σουστέ,,1,NaN

In [54]:
# -ζου, ?, -σου, (ε)-΄α
ending = 'ζου'
paradigm = 'Α4'
add = True
display(df[df['tsakonian'].str.endswith(ending)])

if add:
    df.loc[df['tsakonian'].str.endswith(ending), 'paradigm'] = paradigm

,tsakonian,Columna1,greek,ypot_enest,ypot_aor,orist_aor,metochi,type,source,paradigm
7,ακεικάζου,,"συμπεραίνω, παρομοιάζω",,,ακεικά,,,1,NaN
11,αλικογκίζου,,"εμποδίζω, καθυστερώ",,,αλικογκία,,,1,NaN
15,αντζάζου,,ακουμοώ την πληγή και την ερεθίζω,,,αντζά,,,1,NaN
17,απογιάζου,,ξεγελώ την πείνα με κάτι,,,απογιά,,,1,NaN
29,βουκ̇ιάζου,,"βουτάω, αρπάζω",,,εβουκ̇ιά,,,1,NaN
58,καρδιάζου,,κρυώνω,,,εκαρδιά,,,1,NaN
76,κ̇ρύζου,,πλύνω,,κ̇ρύσου,εκ̇ρύα,,,1,NaN
91,νιουρίζου,,γνωρίζω,νιουρίζου,νιουρίσου,ενιουρία,νιουριστέ,,1,NaN
97,ξεκάζου,,κοιτάζω,,,,,,1,NaN
149,ψαχνίζου,,στεγνώνω,,,εψαχνία,,,1,NaN

In [55]:
# -ζου, ?, -σου, (ε)-΄α
ending = 'φου'
paradigm = 'Α5'
add = True
display(df[df['tsakonian'].str.endswith(ending)])

if add:
    df.loc[df['tsakonian'].str.endswith(ending), 'paradigm'] = paradigm

,tsakonian,Columna1,greek,ypot_enest,ypot_aor,orist_aor,metochi,type,source,paradigm
36,γκριούφου,,κρύβω,,γκριούψου,εγκριούβα,γκριουφτέ,,1,NaN
38,γράφου,,γράφω,γράφου,γράψω,εγράβα,γραφτέ,,1,NaN
71,κιούφου,,κοιμάμαι,κιούφου,κιούψου,εκιούβα,κιουφτέ,,1,NaN
93,νίφου,,πλένω το πρόσωπο,,,ενίβα,,,1,NaN
96,ξάφου,,χτυπώ ξαφνικά,,,εξάβα,,,1,NaN
107,πάφου,,"παύω,σταματάω",,,επαύα,,,1,NaN
133,τσ̌ίφου,,τρίβω,,,ετσ̌ίβα,,,1,NaN

In [56]:
# -ζου, ?, -σου, (ε)-΄α
ending = 'έγγου'
paradigm = 'Α7'
add = True
display(df[df['tsakonian'].str.endswith(ending)])

if add:
    df.loc[df['tsakonian'].str.endswith(ending), 'paradigm'] = paradigm

,tsakonian,Columna1,greek,ypot_enest,ypot_aor,orist_aor,metochi,type,source,paradigm
31,γαλέγγου,,ρίχνω τον καρπό πριν ωριμάσει,,,εγαλεύα,,,1,NaN
45,δουλέγγου,,δουλεύω,,δουλέψω,εδουλεύα,δουλευτέ,,2,NaN
47,έγγου,,πηγαίνω,έγγου,ζάου,εζάκα,ζατέ,,1,NaN
85,μπλέγγου,,διώχνω,μπλέγγου,μπλέψου,εμπλεύα,μπλευτέ,,1,NaN
86,μπλέγγου,,"μπερδεύω, μπλέκω",μπλέγγου,μπλέξου,εμπλέα,μπλεχτέ,,1,NaN
118,σαλέγγου,,κινούμαι,,,εσαλεύα,,,1,NaN
124,στενοχωρέγγου,,στενοχωρώ,στενοχωρέγγω,στενοχωρέψου,εστενοχωρεύα,,,1,NaN

In [57]:
ending = 'έχου'
paradigm = 'Α8'
add = True
display(df[df['tsakonian'].str.endswith(ending)])

if add:
    df.loc[df['tsakonian'].str.endswith(ending), 'paradigm'] = paradigm

,tsakonian,Columna1,greek,ypot_enest,ypot_aor,orist_aor,metochi,type,source,paradigm
30,βρέχου,,βρέχω,βρέχου,βρέτσου,εβρέα,βρετ̇έ,,1,NaN
49,ερέχου,,βρίσκω,,ρέσου,ερέκα,ερεστέ,,1,NaN
51,έχου,,έχω,έχου,έχου,,,,1,NaN
84,μπέχου,,σκεπάζω,μπέχου,μπέτσου,εμπέα,μπετέ,,1,NaN
104,παντέχου,,περιμένω,,,,,,1,NaN
114,π̇ουντέχου,,σβήνω,,,επ̇ουντέα,,,1,NaN

In [58]:
ending = 'ίου'
paradigm = 'Α9'
add = True
display(df[df['tsakonian'].str.endswith(ending)])

if add:
    df.loc[df['tsakonian'].str.endswith(ending), 'paradigm'] = paradigm

,tsakonian,Columna1,greek,ypot_enest,ypot_aor,orist_aor,metochi,type,source,paradigm
3,αγανίου,,παθαίνω οξείδωση,,,αγανία,,,1,NaN
6,ακαλίου,,κυλώ,,,ακαλίκα,,,1,NaN
44,δίου,,δίνω,δίνου,δου,εδούκα,δουτέ,,1,NaN
60,κασίου,,κοιμάμαι,,,,,,1,NaN
62,κ̇ατίου,,τοποθετώ,,,εκ̇ατίκα,,,1,NaN
90,νίου,,ακούω,νίνου,νιάου,ενιάκα,νιατέ,,1,NaN
95,ντίου,,χτυπώ,ντίνου,ντου,εντούκα,ντουτέ,,1,NaN
106,παρίου,,έρχομαι,παρίμα,μόλου,εκάνα,φερτέ,,1,NaN
110,ποίου,,κάνω,ποίνου,ποίου,εμπήκα,μποιτέ,,1,NaN
119,σαπρίου,,σαπίζω,,,εσαπρία,,,1,NaN
141,φταίου,,φταίω,,,εφταίκα,,,1,NaN

In [59]:
ending = 'ρίκ̇ου'
paradigm = 'Α11'
add = True
display(df[df['tsakonian'].str.endswith(ending)])

if add:
    df.loc[df['tsakonian'].str.endswith(ending), 'paradigm'] = paradigm

,tsakonian,Columna1,greek,ypot_enest,ypot_aor,orist_aor,metochi,type,source,paradigm
22,αρίκ̇ου,,παίρνω,,άρου,άγκα,παρτέ,,1,NaN
57,καραφερίκ̇ου,,καταφέρνω,,,εκατανέγκα,,,1,NaN

In [60]:
ending = 'αίσου'
paradigm = 'Α12'
add = True
display(df[df['tsakonian'].str.endswith(ending)])

if add:
    df.loc[df['tsakonian'].str.endswith(ending), 'paradigm'] = paradigm

,tsakonian,Columna1,greek,ypot_enest,ypot_aor,orist_aor,metochi,type,source,paradigm
40,δαίσου,,καίω,δαίσου,δάου,εδάκα,,,1,NaN

In [65]:
ending = 'ρου'
paradigm = 'Α13'
add = True
display(df[df['tsakonian'].str.endswith(ending)])

if add:
    df.loc[df['tsakonian'].str.endswith(ending), 'paradigm'] = paradigm

,tsakonian,Columna1,greek,ypot_enest,ypot_aor,orist_aor,metochi,type,source,paradigm
32,γείρου,,επιστρέφω,,,εγείρκα,,,1,Α13
42,δέρου,,"δέρνω, χτυπώ",,,εδάρκα,,,1,Α13

In [68]:
ending = 'άσσου'
paradigm = 'Α13'
add = True
display(df[df['tsakonian'].str.endswith(ending)])

if add:
    df.loc[df['tsakonian'].str.endswith(ending), 'paradigm'] = paradigm

,tsakonian,Columna1,greek,ypot_enest,ypot_aor,orist_aor,metochi,type,source,paradigm
25,άσσου,,αλλάζω,,,α/εά,,,1,Α13
111,ποτάσσου,,φτουράω,,,εποτά,,,1,Α13

In [61]:
# -ού, -ήνου, -ά/έ/ήου, (ε)-ά/έ/ήκα
ending = 'ού'
paradigm = 'B'
add = True
display(df[df['tsakonian'].str.endswith(ending)])

if add:
    df.loc[df['tsakonian'].str.endswith(ending), 'paradigm'] = paradigm

,tsakonian,Columna1,greek,ypot_enest,ypot_aor,orist_aor,metochi,type,source,paradigm
4,αγκατού,,φράσσω,,,αγατήκα,,,1,NaN
12,αμογού,,ομολογώ,,,αμογήκα,,,1,NaN
16,αού,,λέω,αλήνου,αλήου,επέκα,πετέ,,1,NaN
18,αποού,,στέλνω,,,απολ̣ύκα,,,1,NaN
21,αραμού,,"μένω, κατοικώ",,αραμάου,αραμάκα,αραματέ,,1,NaN
23,αρού,,αρμέγω,αρήνου,αρήου,αρήκα,αρητέ,,1,NaN
24,ασού,,σουρώνω,,,ασήκα,,,1,NaN
27,βογού,,ευλογώ,,,βογήκα,,,1,NaN
28,βού,,κλαίω,βούνου,βάτσου,εβάκα,,,1,NaN
33,γεού,,γελάω,γελ̣ήνου,γιάου,εγιάκα,,,1,NaN
52,ζυρογού,,βρωμοκοπάω,,,εζυρογήκα,,,1,NaN
65,κεινού,,πεινάω,,κεινάου,εκείνακα,κεινατέ,,1,NaN
68,κιμού,,τιμώ,,,εκιμάκα,,,1,NaN
69,κιμωρού,,τιμωρώ,,,εκιμωρέκα,,,1,NaN
75,κουβαού,,κουβαλώ,,,εκουβαλ̣ήκα,,,1,NaN
78,μετσ̌ού,,μετρώ,,,εμετσ̌ήκα,,,1,NaN
80,μοζού,,πονάω,μοζήνου,μοζάου,εμοζάκα,μοζαΐχου,,1,NaN
87,μπορού,,μπορώ,,μπορέου,εμπορέκα,,,1,NaN
89,νιού,,μηλάω,νιλ̣ήνου,νιλ̣ήου,ενιλ̣ήκα,νιλ̣ητέ,,1,NaN
102,ορού,,βλέπω,ορήνου,οράου,οράκα,ορατέ,,1,NaN
105,παραθαρρού,,χαλαρώνω την προσοχή μου,,,επαραθαρρέκα,,,1,NaN
109,περού,,περνώ,περήνου,περάου,επεράκα,περατέ,,1,NaN
117,ρωτού,,ρωτάω,ρωτήνου,ρωτήου,ερωτήκα,ρωτητέ,,1,NaN
121,σκωρού,,συγχωρώ,,,εσκουγκία,,,1,NaN
135,τσ̌υγού,,τρυγώ,,,εστσ̌υγήκα,,,1,NaN
137,φορού,,φοράω,φορήνου,φορέου,εφορέκα,φορεστέ,,1,NaN
138,φουσού,,φυσάω,φουσήνου,φουσάου,εφουσάκα,,,1,NaN
146,χαού,,χαλάω,χαλ̣ήνου,χάου,εχάκα,χαρέ,,1,NaN
148,ψαφού,,ψάχνω,ψαφήνου,ψαφήου,εψαφήκα,ψαφητέ,,1,NaN

In [62]:
# -ού, -ήνου, -ά/έ/ήου, (ε)-ά/έ/ήκα
ending = 'μενε'
paradigm = 'Γ'
add = True
display(df[df['tsakonian'].str.endswith(ending)])

if add:
    df.loc[df['tsakonian'].str.endswith(ending), 'paradigm'] = paradigm

,tsakonian,Columna1,greek,ypot_enest,ypot_aor,orist_aor,metochi,type,source,paradigm
8,ακισταινούμενε,,κουράζομαι,,,ακιστάμα,,,1,NaN
35,γκιουκ̇ούμενε,,ντύνομαι,,γκιουθού,εγκιούμα,γκιουτέ,,1,NaN
37,γκριουφούμενε,,γκριουφτού,,γκριουφτού,εγκριούμα,γκριουφτέ,,1,NaN
39,γραφούμενε,,γράφομαι,γραφούμα,γραφτού,εγράμμα,γραφτέ,,1,NaN
50,ερικ̇ούμενε,,βρίσκομαι,,ρεστού,ερέσια,,,1,NaN
53,θυμούμενε,,θυμάμαι,,θυνηθού,εθυνήμα,,,1,NaN
67,κιανούμενε,,πιάνομαι,,κιατ̇ού,εκιάμα,κιατ̇έ,,1,NaN
92,νιουρισκούμενε,,γνωρίζομαι,νιουρισκούμα,νιουριστού,ενιουρίσμα,νιουριστέ,,1,NaN
103,ορούμενε,,φαίνομαι,ορινούμα,οραθού,οράμα,ορατέ,,1,NaN
116,ρωτηκ̇ούμενε,,ρωτιέμαι,ρωτηκ̇ούμα,ρωτηθού,ερωτήμα,ρωτητέ,,1,NaN
123,σουσκούμενε,,τελειώνω,,σουστού,εσούσμα,σουστέ,,1,NaN
125,στενοχωρεγγούμενε,,στεναχωριέμαι,στενοχωρεγγούμα,στενοχωρευτού,εστενοχωρέμα,,,1,NaN
129,τραβιντούμενε,,τραβιέμαι,τραβιντούμα,τραβιτ̇ού,ετραβίμα,τραβιτ̇έ,,1,NaN
140,φταινούμενε,,ψήνομαι,,φταθού,εφτάμα,φτατέ,,1,NaN
143,φωνιαντούμενε,,φωνάζομαι,φωνιαντούμα,φωνιατ̇ού,εφωνιάμα,φωνιατ̇έ,,1,NaN

In [73]:
# Show rows where paradigm is empty
df[df['paradigm'].isna()]

,tsakonian,Columna1,greek,ypot_enest,ypot_aor,orist_aor,metochi,type,source,paradigm
48,ένι,,είμαι,ένι,ένι,έμα,,,1,NaN
55,κ̇ακ̇ούχου,,"χώνω, έχωσα",,,εκ̇ακ̇ούα,,,1,NaN
56,κάμου,,"καματεύω, σπέρνω",,,εκαμεκα,,,1,NaN
59,κασημένε,,κάθομαι,κασήμα,κατσάου,εκατσάκα,κατσατέ,,1,NaN
88,νέμου,,βοσκώ,νέμου,νεμάου,ενεμάκα,νεματέ,,1,NaN
108,πενάκ̇ου,,πεθαίνω,,,επενάκα,,,1,NaN
113,που,,πουλάω,,,επουλ̣ήκα,,,1,NaN
115,πρίγγου,,πνίγω,,,επρία,,,1,NaN
131,τσ̌άχου,,τρέχω,τσ̌αχου,τσ̌αχίτσου,ετσ̌αχήκα,,,1,NaN
134,τσ̌ου,,τρώω,τσ̌ούνου,φάου,εφαήκα,φαητέ,,1,NaN
142,φύου,,φεύγω,φύνου,φύτσου,εφύγκα,,,1,NaN